.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.stage {
    border: 1em solid #2C3E50;
}

.footer {
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer * {
    margin-left: 1em;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1em;
}

.entryText {
    display: flex;
    align-items: center;
    justify-content: center;
}

.entryFields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sidebarEntryInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
}